div.image {
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 2%;
    
}
h1 {
   
    margin-top: 2%;
    margin-left: 10%;
}
div.boutton {

    margin-top: 2%;
    margin-left: 10%;
   
}



